.deck {
    font-size: 16px;
}

.definitions {
    padding-top: 0;
    min-height: 400px;
}

.header {
    text-align:  center;
}

.header span {
    margin: 5px;
}

.title {
    font-weight: bold;
    font-size: larger;
}